In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1= {
    "name":['prashant', 'raj', 'shruti', 'plug'],
    "marks":[98,97,50,60],
    "city":["ranchi", "muri","bokaro", "ranchi"],
}

In [3]:
df= pd.DataFrame(dict1)

In [4]:
df

       name  marks    city
0  prashant     98  ranchi
1       raj     97    muri
2    shruti     50  bokaro
3      plug     60  ranchi

In [5]:
df.to_csv("friends.csv") #use to create csv file

In [6]:
df.to_csv("index flase.csv", index=False) # use to remove index from file

In [7]:
df.describe() # give u analysis like mean standard deviation max etc

           marks
count   4.000000
mean   76.250000
std    24.878036
min    50.000000
25%    57.500000
50%    78.500000
75%    97.250000
max    98.000000

In [8]:
ser = pd.Series(np.random.rand(20)) #used to create a series of random numbers

In [9]:
ser

0     0.926754
1     0.387552
2     0.726200
3     0.956668
4     0.313234
5     0.261298
6     0.543388
7     0.038680
8     0.900116
9     0.095306
10    0.166349
11    0.327968
12    0.319375
13    0.346941
14    0.005644
15    0.374306
16    0.986794
17    0.850796
18    0.625908
19    0.477267
dtype: float64

In [10]:
newdf= pd.DataFrame(np.random.rand(30,5)) #use to create a data frame of ramdom values 30 rows and 5 column

In [11]:
newdf

           0         1         2         3         4
0   0.539265  0.340869  0.653921  0.987460  0.860540
1   0.954735  0.761340  0.164734  0.413621  0.321913
2   0.170439  0.965369  0.057196  0.429474  0.311623
3   0.430836  0.577009  0.188173  0.208200  0.872258
4   0.841173  0.436366  0.098003  0.348247  0.709414
5   0.252869  0.938565  0.759916  0.999609  0.509443
6   0.437153  0.522765  0.971098  0.764709  0.690894
7   0.137967  0.464922  0.869150  0.298621  0.613725
8   0.827446  0.376001  0.820283  0.764499  0.541800
9   0.919794  0.768450  0.825486  0.653747  0.905152
10  0.915313  0.042864  0.203271  0.965368  0.649857
11  0.678020  0.819117  0.044589  0.820244  0.872403
12  0.356576  0.442448  0.269692  0.924179  0.479276
13  0.859239  0.942061  0.764932  0.351265  0.269622
14  0.462725  0.535528  0.369803  0.311769  0.802096
15  0.121794  0.064525  0.792793  0.755073  0.284392
16  0.355593  0.104705  0.913710  0.395798  0.119788
17  0.251809  0.772024  0.527467  0.576995  0.999586
18  0.718276  0.453841  0.534307  0.460837  0.003211
19  0.239074  0.419829  0.859891  0.285836  0.110779
20  0.309807  0.001723  0.147597  0.687973  0.453406
21  0.372033  0.636857  0.941580  0.701073  0.092664
22  0.706970  0.745081  0.832407  0.507303  0.443603
23  0.819600  0.659080  0.176175  0.189080  0.540584
24  0.916793  0.908110  0.635972  0.198644  0.431534
25  0.803838  0.853864  0.620923  0.915348  0.021151
26  0.268374  0.133292  0.278426  0.424712  0.542502
27  0.737610  0.178053  0.271763  0.010072  0.090461
28  0.406834  0.097190  0.844310  0.759951  0.000669
29  0.242935  0.862948  0.152621  0.785795  0.918441

In [12]:
newdf.describe()

               0          1          2          3          4
count  30.000000  30.000000  30.000000  30.000000  30.000000
mean    0.535163   0.527493   0.519673   0.563183   0.482093
std     0.277017   0.304820   0.318710   0.275988   0.306878
min     0.121794   0.001723   0.044589   0.010072   0.000669
25%     0.278732   0.349652   0.191947   0.349001   0.273314
50%     0.449939   0.529147   0.577615   0.542149   0.494360
75%     0.815660   0.771130   0.824185   0.764656   0.704784
max     0.954735   0.965369   0.971098   0.999609   0.999586

In [13]:
newdf.T # use to find transpose

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.539265,0.954735,0.170439,0.430836,0.841173,0.252869,0.437153,0.137967,0.827446,0.919794,...,0.309807,0.372033,0.706970,0.819600,0.916793,0.803838,0.268374,0.737610,0.406834,0.242935
1,0.340869,0.761340,0.965369,0.577009,0.436366,0.938565,0.522765,0.464922,0.376001,0.768450,...,0.001723,0.636857,0.745081,0.659080,0.908110,0.853864,0.133292,0.178053,0.097190,0.862948
2,0.653921,0.164734,0.057196,0.188173,0.098003,0.759916,0.971098,0.869150,0.820283,0.825486,...,0.147597,0.941580,0.832407,0.176175,0.635972,0.620923,0.278426,0.271763,0.844310,0.152621
3,0.987460,0.413621,0.429474,0.208200,0.348247,0.999609,0.764709,0.298621,0.764499,0.653747,...,0.687973,0.701073,0.507303,0.189080,0.198644,0.915348,0.424712,0.010072,0.759951,0.785795
4,0.860540,0.321913,0.311623,0.872258,0.709414,0.509443,0.690894,0.613725,0.541800,0.905152,...,0.453406,0.092664,0.443603,0.540584,0.431534,0.021151,0.542502,0.090461,0.000669,0.918441

In [14]:
newdf.sort_index(axis= 0 , ascending= False) # asxending = false means decinding order m sort krega axis = 0 means for rows and axis = 1 means column

           0         1         2         3         4
29  0.242935  0.862948  0.152621  0.785795  0.918441
28  0.406834  0.097190  0.844310  0.759951  0.000669
27  0.737610  0.178053  0.271763  0.010072  0.090461
26  0.268374  0.133292  0.278426  0.424712  0.542502
25  0.803838  0.853864  0.620923  0.915348  0.021151
24  0.916793  0.908110  0.635972  0.198644  0.431534
23  0.819600  0.659080  0.176175  0.189080  0.540584
22  0.706970  0.745081  0.832407  0.507303  0.443603
21  0.372033  0.636857  0.941580  0.701073  0.092664
20  0.309807  0.001723  0.147597  0.687973  0.453406
19  0.239074  0.419829  0.859891  0.285836  0.110779
18  0.718276  0.453841  0.534307  0.460837  0.003211
17  0.251809  0.772024  0.527467  0.576995  0.999586
16  0.355593  0.104705  0.913710  0.395798  0.119788
15  0.121794  0.064525  0.792793  0.755073  0.284392
14  0.462725  0.535528  0.369803  0.311769  0.802096
13  0.859239  0.942061  0.764932  0.351265  0.269622
12  0.356576  0.442448  0.269692  0.924179  0.479276
11  0.678020  0.819117  0.044589  0.820244  0.872403
10  0.915313  0.042864  0.203271  0.965368  0.649857
9   0.919794  0.768450  0.825486  0.653747  0.905152
8   0.827446  0.376001  0.820283  0.764499  0.541800
7   0.137967  0.464922  0.869150  0.298621  0.613725
6   0.437153  0.522765  0.971098  0.764709  0.690894
5   0.252869  0.938565  0.759916  0.999609  0.509443
4   0.841173  0.436366  0.098003  0.348247  0.709414
3   0.430836  0.577009  0.188173  0.208200  0.872258
2   0.170439  0.965369  0.057196  0.429474  0.311623
1   0.954735  0.761340  0.164734  0.413621  0.321913
0   0.539265  0.340869  0.653921  0.987460  0.860540

In [15]:
newdf2 = newdf.copy()# use will create a copy of newdf name as newdf2

In [ ]:
newdf.loc[0,0] = 843 # some time changing in copy may change another to , to avoide this we use loc

In [17]:
# we can do analytis as
newdf.loc[(newdf[0] <0.3) & (newdf[2]> 0.1)] # it will give row 0 valuse which is greater then 0.3 and row 2 values the greater the 0.1

           0         1         2         3         4
5   0.252869  0.938565  0.759916  0.999609  0.509443
7   0.137967  0.464922  0.869150  0.298621  0.613725
15  0.121794  0.064525  0.792793  0.755073  0.284392
17  0.251809  0.772024  0.527467  0.576995  0.999586
19  0.239074  0.419829  0.859891  0.285836  0.110779
26  0.268374  0.133292  0.278426  0.424712  0.542502
29  0.242935  0.862948  0.152621  0.785795  0.918441